<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="keywords" content="structured data, JSON, C, C++, C99, software library, open source"/>
<meta name="author" content="Attila Kovacs"/>
<meta name="copyright" content="(C)2024 Attila Kovacs" />
<meta name="robots" content="index,follow"/>

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/xchange/resources/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/xchange/resources/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/xchange/resources/android-chrome-512x512.png">
<link rel="apple-touch-icon" type="image/x-icon" href="/xchange/resources/apple-touch-icon.png">

<title>xchange C/C++</title>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "xchange C/C++",
  "operatingSystem": [ "Linux", "BSD", "Mac OS X", "Windows", "WSL", "UNIX", "POSIX", "Android" ],
  "applicationCategory": "SoftwareLibrary",
  "applicationSubCategory": "Structured data representation with JSON parser and generator",
  "programmingLanguage": "C/C++",
  "license": "https://github.com/Sigmyne/xchange/blob/main/LICENSE",
  "downloadURL": "https://github.com/Sigmyne/xchange/releases",
  "releaseNotes": "https://github.com/Sigmyne/xchange/releases",
  "softwareHelp": "https://sigmyne.github.io/xchange/doc/html/files.html",
  "softwareVersion": "1.3.0",
  "author": {
    "name": "Attila Kovács",
    "affiliation": "Sigmyne, LLC",
    "url": "https://www.sigmyne.com/attila"
  },
  "about" : {
    "description": "Structured data representation with JSON parser and generator",
    "url": "https://sigmyne.github.io/xchange/",
  },
  "abstract": "The xchange library provides structured data representation and exchange in C/C++, and includes support for JSON parsing and generation. It is free to use, in any way you like, without licensing restrictions. For JSON parsing end emitting, xchange provides a higher-level data model than cjson, with high-level functions for accessing and manipulating data both with less code and with cleaner code.",
  "discussionURL": "https://github.com/Sigmyne/xchange/discussions",
  "codeRepository": "https://github.com/Sigmyne/xchange",
  "offers": {
    "@type": "Offer",
    "price": 0
  },
  "url": "https://sigmyne.github.io/xchange/"
}
</script>

<!-- end custom head snippets -->
